* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: auto;
}